# TODO crear sitio inicial para creacion de cert y configuracion de sitio final con https con este unico archivo
server {
  listen 80;
  server_name "{{ vhost_name }}";

  # Redirect to HTTPS
  location / {
    add_header Strict-Transport-Security "max-age=31536000" always;

    return 301 https://"{{ vhost_name }}";
  }
}

{% if ssl_template -%}
server {
  listen 443 ssl http2;
  server_name "{{ vhost_name }}";

  ssl_certificate         "/etc/letsencrypt/live/{{ vhost_name }}/fullchain.pem";
  ssl_certificate_key     "/etc/letsencrypt/live/{{ vhost_name }}/privkey.pem";
  ssl_trusted_certificate "/etc/letsencrypt/live/{{ vhost_name }}/chain.pem";
  
  # Proxy to app container
  location / {

    proxy_set_header  Host              $host;
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto 'https';

    proxy_pass http://{{ proxy_pass_host }}:{{ proxy_pass_port }};
  }
}
{% endif %}

 