#
## CAUTION! File managed with Ansible, any change will be overwrited
#

#
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = mort-dir
  Password = "{{ vault_bacula_dir_password }}"
}

#
# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
#
Director {
  Name = mort-mon
  Password = "{{ vault_bacula_mon_password }}"
  Monitor = yes
}

#
# "Global" File daemon configuration specifications
#
FileDaemon {                          # this is me
  Name = {{ inventory_hostname }}-fd
  FDport = 9102                  # where we listen for the director
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = mort-dir = all, !skipped, !restored
}
